body, html {
  height: 100%;
}

#app {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  height: 100%;
}

//分页
.u-page {
  padding: 10px 0 50px;
  text-align: right;
}

//子导航
.sub-nav {
  font-weight: bold
}

.login-wrap .el-form-item__error {
  margin-left: 36px;
  margin-top: 1px;
}

@import "sub/eleFix";
@import "sub/orderlist";
