// 分页
.el-pagination__total {
  float: left
}

// 表单
.el-select .el-input {
  width: 130px;
}

.el-form-item__content {
  height: 36px;
}

//对话框
.el-dialog__header {
  padding-bottom: 15px;
}

.el-dialog__body {
  padding: 20px 20px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

//菜单
.el-menu {
  background: #f9f9f9;
}

.el-submenu__title {
  border: 0;
  font-weight: bold;
}

.el-submenu.is-active .el-submenu__title {
  border-bottom-color: #eee;
}

.el-submenu .el-menu {
  background: #fff;
}

.el-submenu__title {
  color: #337ab7;
}

.el-menu-item {
  color: #666;
}

.el-submenu__title {
  border-bottom: 1px solid #f5f5f5;
  border-top: 1px solid #f5f5f5;
  margin-top: -1px;
}

.el-submenu__title:hover {
  background-color: #eee;
}
